region                           = "us-west-2"
environment                      = "dev"
cidr_block                       = "10.21.0.0/16"
availability_zones               = ["a", "b"]
db_instance_class                = "db.t4g.medium"
db_multi_az                      = false
db_allocated_storage             = 100
rds_deletion_protection          = false
rds_skip_final_snapshot          = false
rds_final_snapshot_identifier    = "hexacode-dev-db-final-YYYYMMDD-w5"
backup_efs_file_system_arns      = []
network_firewall_blocked_domains = ["example.com"]
application_secret_arn           = ""
ecr_repository_name              = "dev/hexacode"
image_tag                        = "dev-git-sha"
frontend_domain                  = ""
kms_key_arn                      = ""

client_vpn_enabled                    = false
client_vpn_cidr_block                 = "10.31.0.0/22"
client_vpn_server_certificate_arn     = ""
client_vpn_root_certificate_chain_arn = ""

management_vpc_enabled    = false
management_vpc_cidr_block = "10.22.0.0/20"
