region                 = "us-west-2"
environment            = "prod"
cidr_block             = "10.20.0.0/16"
availability_zones     = ["a", "b"]
db_instance_class      = "db.r6g.large"
db_multi_az            = true
db_allocated_storage   = 200
application_secret_arn = ""
ecr_repository_name    = "prod/hexacode"
image_tag              = "1"
chat_lambda_arn        = "arn:aws:lambda:us-west-2:123456789012:function:hexacode-prod-chat"
frontend_domain        = "https://your-cloudfront-domain.example"
kms_key_arn            = ""

client_vpn_enabled                    = false
client_vpn_cidr_block                 = "10.30.0.0/22"
client_vpn_server_certificate_arn     = ""
client_vpn_root_certificate_chain_arn = ""